

/* todas las clases usadas para el footer */
.footer {
    list-style: none;
    background-color: #2a2a2a;
    color: #eeeeee;
    font-family: Impact,'Arial Narrow Bold', sans-serif;
}
.footer h4 ul {
    font-family: 'Barlow', sans-serif;
    font-family: 'Gasoek One', sans-serif;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 110%;
}
.footer h5{
    font-size: 125%;
    color: #eeeeee;
}

.icono {
    width: 200px;
}
/* fin de clases usadas para el footer */
